/* ---------------------------------------------------------------------------- */
.text1{
    font-family: cursive;
    font-weight: bold;
    font-size: 50px;
    margin-top: 0px;
    text-align: center;
    text-shadow: 5px 5px 1px rgb(253, 252, 252); 
  }
  

  .headContent{
    width: 100%;
    height: 100px;
}

  .content{
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(0.25turn, rgb(255, 255, 255, 0.9),rgba(230, 244, 252, 0.8), rgba(221, 239, 248, 0.1)), url(../Images/lama14.jpg);
}

  /* Grid Container */
  
  .item1 { grid-area: one; 
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 50px;
  }
  
  .item2 { grid-area: two; 
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 50px;
  }
  
  .item3 { grid-area: three; 
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 50px;
  }
  
  .grid-container, .grid-container2 {
    display: grid;
    width: 80%;
    margin-left: 8%;
    grid-template-areas:
      'one two three';
    grid-gap: 30px;
    padding: 10px;
  }
  
  .grid-container2{
    margin-left: 20%;
  }
  
  .grid-container2 > div{
    box-shadow: 20px 15px 10px rgb(20, 20, 20);
    animation: shake 3.0s;
    animation-iteration-count: infinite;
  }
  
  .grid-container > div {
    text-align: center;
    font-size: 30px;
    box-shadow: 20px 15px 10px rgb(20, 20, 20);
    animation: shake 2.0s;
    animation-iteration-count: infinite;
  }

  .grid-container > div:hover {
    animation: none;
    animation-iteration-count: 0;
  }

  .grid-container2 > div:hover {
    animation: none;
    animation-iteration-count: 0;
  }

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  /* The overlay effect (full height and width) - lays on top of the container and over the image */
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(51, 102, 117);
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
    border-radius: 50px;
  }
  
  .image {
    width: 100%;
    height: 100%;
    border-radius: 50px;
  }
  
  .item1:hover .overlay {
    transform: scale(1);
    cursor: pointer;
  }
  
  .item2:hover .overlay {
    transform: scale(1);
    cursor: pointer;
  }
  
  
  .item3:hover .overlay {
    transform: scale(1);
    cursor: pointer;
  }
  
  .text{
    width: 80%;
    height: 80%;
    margin-left: 5%;
    margin-top: 15%;
    color: white;
    text-align: center;
    font-family: cursive;  
    font-size: 20px;
  }
  
  