.header {
  overflow: auto;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255) ;
    position: fixed;
    z-index: 1;
    box-shadow: 10px 10px 10px rgb(158, 157, 157);
  }
  
  body{
    margin: 0px;
  }

  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    margin-left: 50px;
  }
  
  /* Float the link section to the left */
  .header-left {
    float: left;
    width: 50%;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
    margin-top: 25px;
    margin-right: 20px;
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;  
  }
  
  .header-right > a
  {
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(218, 216, 216);
  }

  .header-right > a:hover{
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 35px;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgb(121, 120, 120);
  }
  
  .header-left > a:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  
  .logoIcon{
    border-radius: 50px;
    width: 100px;
    height: 90px;
  }
  
  .L_name{
    font-size: 36px;
    font-family: cursive;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgb(206, 205, 205); 
  }

  @media only screen and (max-width:800px) {
    /* For tablets: */
    .header, .header-right, .header-left{
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .header, .header-right, .header-left {
      width: 100%;
    }
  }